<div class="container" style="padding-top: 20px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#statement" routerLink="/statement">Statements</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid" style="padding-top: 20px">
  <router-outlet></router-outlet>
</div>
